---
layout: default
description: "Uma referência rápida e fácil de ler para as melhores práticas de PHP, padrões de codificação aceitos e links para tutoriais de PHP autorizados pela Web"
sitemap: true
---

{% capture welcome_content %}{% include welcome.md %}{% endcapture %}
{{ welcome_content|markdownify }}

{% capture backtotop %}[Back to Top](#top){:.top}{% endcapture %}
{% for post in site.posts reversed %}
    {% if post.isChild != true and loop.first != true %}
    {{ backtotop|markdownify }}
    {% endif %}
    <div id="{{ post.anchor }}">
    {{ post.content }}
    </div>
{% endfor %}
{{ backtotop|markdownify }}
