<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title %}{{ page.title }} - {% endif %}Laravel: Best Practices</title>
        <meta name="description" content="{{ page.description }}"/>
        <meta name="robots" content="index,follow,archive"/>
        <link rel="canonical" href="https://www.laravelbestpractices.com" />
		<meta property="og:image" content="http://www.laravelbestpractices.com/images/og-logo.png"/>
		<meta property="og:title" content="Laravel: Best Practices"/>
	    <meta property="og:description" content="An easy-to-read, quick reference for Laravel best practices, accepted coding standards, and links to authoritative Laravel tutorials around the Web"/>
		<meta property="og:url" content="http://www.laravelbestpractices.com"/>
		 <meta property="og:site_name" content="Laravel: Best Practices"/>
        <meta property="og:type" content="website"/>
        <meta property="article:tag" content="coding standards, laravel rules, implementation details, team programming, policies" />
        <meta property="article:section" content="Information Technology" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One|Droid+Serif:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ site.baseurl }}styles/all.css"/>
        <link rel="stylesheet" href="{{ site.baseurl }}styles/print.css" media="print, handheld"/>
        <link rel="stylesheet" href="{{ site.baseurl }}styles/syntax.css"/>
        <link rel="icon" href="{{ site.baseurl }}images/favicon.png" type="image/png"/>
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:description" content="{{ page.description }}" />
        <meta name="twitter:title" content="Laravel Best Practices" />
        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "WebSite",
                "url": "https://www.laravelbestpractices.com",
                "name": "Laravel Best Practices",
                "description": "{{ page.description }}"
            }
        </script>
    </head>
    <body>
		<!-- Google Tag Manager -->
		<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-N7WWCH"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-N7WWCH');</script>
		<!-- End Google Tag Manager -->
		
		<script>
		  window.fbAsyncInit = function() {
		    FB.init({
		      appId      : '778595608937156',
		      xfbml      : true,
		      version    : 'v2.5'
		    });
		  };
		
		  (function(d, s, id){
		     var js, fjs = d.getElementsByTagName(s)[0];
		     if (d.getElementById(id)) {return;}
		     js = d.createElement(s); js.id = id;
		     js.src = "//connect.facebook.net/en_US/sdk.js";
		     fjs.parentNode.insertBefore(js, fjs);
		   }(document, 'script', 'facebook-jssdk'));
		</script>
		
        <nav class="site-navigation">
            <div class="build-date">Last Updated: {{ site.time }}</div>
            <ul>
                <li><a href="/#site-header">Welcome</a>
                    <ul>
                        <li><a href="/#translations">Translations</a></li>
                        <li><a href="/#how-to-contribute">How to Contribute</a></li>
                        <li><a href="/#spread-the-word">Spread the Word!</a></li>
                    </ul>
                </li>
                {% assign lastIsChild = false %}
                {% assign insideSection = false %}
                {% for post in site.posts reversed %}
                    {% if post.isChild != true %}
                        {% if insideSection %}
                            </ul>
                            </li><!-- inside section -->
                            {% assign insideSection = false %}
                        {% endif %}
                    {% endif %}
                    <li><a href="/#{{ post.anchor }}">{{ post.title }}</a>
                    {% if post.isChild %}
                        </li>
                    {% else %}
                        <ul>
                        {% assign insideSection = true %}
                    {% endif %}
                    {% assign lastIsChild = post.isChild %}
                {% endfor %}
                    </ul>
                </li>
                <li><a href="/#site-footer">Credits</a></li>
            </ul>
        </nav>
        <div class="site-content">

            <a class="fork-me" href="https://github.com/laraveltherightway/laraveltherightway.github.io">
                <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
            </a>

            <header class="site-header" id="site-header">
                <hgroup>
                    <h1 class="site-title"><a href="/">Laravel</a></h1>
                    <h2 class="site-slogan">Best Practices.</h2>
                </hgroup>
                
            	<div
		  class="fb-like"
		  data-share="true"
		  data-width="450"
		  data-show-faces="false">
		</div>
            </header>
            {{ content }}
            <div id="site-footer">
                <h1 id="site-footer_title">Credits</h1>
                <footer class="site-footer" id="site-footer">
                    <h2 class="epsilon">Created and maintained by</h2>
                    <ul>
                        <li><a href="http://www.darwinbiler.com">Darwin Biler</a></li>
                    </ul>
                    <h2 class="epsilon">Project collaborators</h2>
                    <ul>
                    	<li>We are actively looking for contributors!</li>
                    </ul>
                    <h2 class="epsilon">Project contributors</h2>
                    <div id="contributors">Loading&hellip;</div>
                    <h2 class="epsilon">Project sponsors</h2>
                    <ul class="mbd">
                        <li><a href="http://www.github.com" rel="nofollow" target="_blank">Hosting courtesy of GitHub Pages</a></li>
			    <li><a href="https://www.patreon.com/laravelbestpractices">Become a Patron</a></li>
		    </ul>
                    <p>
                        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">Laravel: Best Practices</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.darwinbiler.com" property="cc:attributionName" rel="cc:attributionURL">Darwin Biler</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://www.laravelbestpractices.com" rel="dct:source">www.laravelbestpractices.com</a>.
                    </p>
                </footer>
            </div>
        </div>

        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
        <script src="/scripts/setup.js"></script>
    </body>
</html>
